.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;


    &-box {
        width: 80%;
        padding-top: 2rem;

    }

    &-up {

        display: flex;
        justify-content: space-between;


    }

    &-down {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            width: 30%;
            line-height: 21.6px;
        }

    }

    &-left {
        width: 25%;

        .address-info,
        .phone-info {
            font-size: 16px;
            font-weight: 500;
            line-height: 28.8px;
            letter-spacing: 0.01em;
            text-align: left;


        }


        .logo-info {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            margin-bottom: 4rem;
        }


    }

    &-right {
        display: grid;
        grid-template-columns: repeat(3, 200px);

        .category {
            li {
                margin-bottom: 20px;
                list-style: none;


                h3 {
                    margin-bottom: 60px;
                }
            }

            .category-icon {
                display: flex;

                li {
                    padding: 10px;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    background: plum;
                    margin-right: 10px;

                }
            }
        }

    }
}